@model string
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head root-url="@Url.Content("~")">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>@(ViewBag.Title ?? "DPC")</title>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,fetch,Array.prototype.includes,Object.values,Object.entries"></script>
</head>
<body>
  <pre><code id="typeScriptCode">Loading...</code></pre>
  <script type="text/javascript">
      window.jsonSchema = @Html.Raw(Model);
  </script>
  <script src="~/Scripts/JsonSchema/TypeScriptSchema.min.js"></script>
</body>
</html>