@import "../../../../node_modules/@blueprintjs/core/lib/scss/variables";

$bp3-icon-color: #5c7080;
$bp3-focus-color: $blue3;
$bp3-danger-color: $red3;
$bp3-primary-color: $blue3;
$bp3-focus-border: 1px solid $bp3-focus-color;
$bp3-danger-border: 1px solid $bp3-danger-color;
$bp3-primary-border: 1px solid $bp3-primary-color;
$bp3-focus-backgorund: rgba(19, 124, 189, 0.3);
$bp3-danger-backgorund: rgba(219, 55, 55, 0.3);
$bp3-primary-backgorund: rgba(19, 124, 189, 0.3);
$bp3-focus-box-shadow: 0 0 0 3px rgba(19, 124, 189, 0.3),
  inset 0 1px 1px rgba(16, 22, 26, 0.2);
$bp3-danger-box-shadow: 0 0 0 3px rgba(219, 55, 55, 0.3),
  inset 0 1px 1px rgba(16, 22, 26, 0.2);
$bp3-primary-box-shadow: 0 0 0 3px rgba(19, 124, 189, 0.3),
  inset 0 1px 1px rgba(16, 22, 26, 0.2);

.bp3-button {
  user-select: none;
}

/* ==== InputFile ==== */
.bp3-file-input.editor-input-file {
  min-width: 0px;

  .bp3-file-upload-input {
    padding-right: 30px;
    z-index: 5;

    &::after {
      display: none;
    }
  }

  input[type="file"]:focus + .bp3-file-upload-input {
    box-shadow: 0 0 0 1px $bp3-focus-color, $bp3-focus-box-shadow;
  }

  &.bp3-intent-primary {
    .bp3-file-upload-input {
      box-shadow: 0 0 0 1px $bp3-primary-color,
        inset 0 1px 1px rgba(16, 22, 26, 0.2);
    }

    input[type="file"]:focus + .bp3-file-upload-input {
      box-shadow: 0 0 0 1px $bp3-primary-color, $bp3-primary-box-shadow;
    }
  }

  &.bp3-intent-danger {
    .bp3-file-upload-input {
      box-shadow: 0 0 0 1px $bp3-danger-color,
        inset 0 1px 1px rgba(16, 22, 26, 0.2);
    }

    input[type="file"]:focus + .bp3-file-upload-input {
      box-shadow: 0 0 0 1px $bp3-danger-color, $bp3-danger-box-shadow;
    }
  }
}

.editor-input-file {
  &__placeholder {
    color: #a9b3ba;
  }

  &__clear {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
  }
}

/* ==== TextArea ==== */
.editor-textarea {
  resize: none;
}

/* ==== DatePicker ==== */
.editor-datepicker {
  .rdtPicker {
    margin-top: 0.5rem;
    border-radius: 3px;
    border: $bp3-focus-border;
    box-shadow: $bp3-focus-box-shadow;
  }

  .rdtActive {
    border-radius: 3px;
  }
}

.bp3-intent-danger .editor-datepicker .rdtPicker {
  border: $bp3-danger-border;
  box-shadow: $bp3-danger-box-shadow;
}

/* ==== Select ==== */
.Select-control {
  height: 28px;
}

.Select-placeholder {
  line-height: 28px;
}

.Select-input {
  height: 28px;

  > input {
    padding: 5px 0 7px;
  }
}

.Select-option {
  padding: 5px 7px;

  &.is-focused {
    background-color: #ebf5ff;
  }

  &.is-selected {
    background-color: #f5faff;
  }
}

.Select-clear {
  color: $bp3-icon-color;
  font-size: 24px;
  line-height: 18px;
}

.Select-arrow {
  border-color: $bp3-icon-color transparent transparent;
}

.Select--single {
  > .Select-control .Select-value {
    line-height: 28px;
  }
}

.Select--multi {
  .Select-value {
    margin-top: 3px;
    margin-left: 4px;
    line-height: 1.3;
    background-color: rgba($gray3, 0.2);
    color: $dark-gray1;
    padding: 1px;
    border: none;
  }

  .Select-value-icon {
    margin-top: -0.1em;
    padding: 0px 4px 2px;
    font-size: 1.2em;
    border-right: none;
  }

  .Select-value-label {
    padding: 0px 4px 2px;
  }
}

.Select--large {
  .Select-control {
    height: 32px;
    padding-bottom: 2px;
  }

  .Select-placeholder,
  .Select-input {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
  }

  .Select-value {
    margin-top: 4px;
    font-size: 16px;
  }

  &.Select--multi {
    .Select-value {
      line-height: 1.2;
    }
  }
}

.Select.is-focused,
.Select.is-focused:not(.is-open) {
  .Select-control {
    border: $bp3-focus-border;
    box-shadow: $bp3-focus-box-shadow;
  }

  .Select-menu-outer {
    border-left: $bp3-focus-border;
    border-bottom: $bp3-focus-border;
    border-right: $bp3-focus-border;
    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 3px;
      left: -4px;
      width: calc(100% + 8px);
      height: calc(100% + 1px);
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      background: $bp3-focus-backgorund;
    }
  }
}

.Select.bp3-intent-primary {
  .Select-control {
    border: $bp3-primary-border;
  }

  .Select-clear {
    color: $bp3-primary-color;
  }

  .Select-arrow {
    border-color: $bp3-primary-color transparent transparent;
  }
}

.Select.bp3-intent-danger.is-focused {
  .Select-control {
    border: $bp3-primary-border;
    box-shadow: $bp3-primary-box-shadow;
  }

  .Select-menu-outer {
    position: relative;
    border-left: $bp3-primary-border;
    border-bottom: $bp3-primary-border;
    border-right: $bp3-primary-border;

    &::before {
      background: $bp3-primary-backgorund;
    }
  }
}

.Select.bp3-intent-danger {
  .Select-control {
    border: $bp3-danger-border;
  }

  .Select-clear {
    color: $bp3-danger-color;
  }

  .Select-arrow {
    border-color: $bp3-danger-color transparent transparent;
  }
}

.Select.bp3-intent-danger.is-focused {
  .Select-control {
    border: $bp3-danger-border;
    box-shadow: $bp3-danger-box-shadow;
  }

  .Select-menu-outer {
    position: relative;
    border-left: $bp3-danger-border;
    border-bottom: $bp3-danger-border;
    border-right: $bp3-danger-border;

    &::before {
      background: $bp3-danger-backgorund;
    }
  }
}
