.bp3-tabs {
  margin-top: 10px;
}

.bp3-tabs:not(.bp3-vertical) {
  > .bp3-tab-list {
    flex-wrap: wrap;

    > .bp3-tab-indicator-wrapper {
      z-index: 1;

      > .bp3-tab-indicator {
        bottom: -1px;
        right: -2px;
        background-color: #5c7080;
      }
    }

    > .bp3-tab {
      display: flex;
      align-items: center;
      min-height: 30px;
      min-width: 70px;
      margin-bottom: 2px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #e4ecf2;
      border: 1px solid #ccc;
      border-bottom: none;
      outline: none;

      &:not(:last-child) {
        margin-right: 2px;
      }

      &:hover,
      &:focus,
      &[aria-selected="true"] {
        background-color: inherit;
        color: inherit;
      }

      > .bp3-icon {
        color: #5c7080;

        &:first-child {
          margin-right: 0.5em;
        }

        &:last-child {
          margin-left: 0.5em;
        }
      }
    }

    &.bp3-large {
      > .bp3-tab {
        min-height: 40px;
      }
    }
  }

  > .bp3-tab-panel {
    margin-top: -2px;
    border-top-left-radius: 0;
  }
}

.bp3-tabs.bp3-vertical {
  > .bp3-tab-panel {
    flex: 1 1 0%;
    padding-left: 0;
    margin-left: 8px;
    min-width: 0;
    overflow-x: hidden;
  }
}

.bp3-tab {
  padding: 0 10px;

  &[aria-selected="true"] {
    outline: none;
  }
}

.bp3-tab-panel {
  border: 1px solid #ccc;
  border-radius: 5px;
}
