.editor-input,
.editor-textarea,
.editor-select,
.editor-datepicker > input.form-control {
  padding: 2px 4px;
  border: 1px solid #a0a1a2;
  border-radius: 2px;
  outline: none;

  &:focus {
    border-color: #7090ca;
    box-shadow: 0 0 2px #7090ca;
  }
}

.editor-textarea {
  resize: none;
}

.editor-checkbox,
.editor-radio {
  zoom: 1.5;
}

.editor-datepicker {
  display: inline-block;

  .rdtPicker {
    box-shadow: none;
    border: 1px solid #a0a1a2;
    border-radius: 2px;
  }

  .rdtActive {
    border-radius: 2px;
  }
}
