.bp3-tooltip {
  .bp3-tooltip-indicator {
    border-bottom: none;
  }
  .bp3-popover-content {
    font-family: SFProText, sans-serif;
    font-size: 14px;
    max-width: 210px;
    color: rgba(245, 248, 250, 0.56);
  }
}
