@using System.Globalization
@using Newtonsoft.Json
@using QA.Core.DPC.Resources
@using QA.ProductCatalog.Admin.WebApp.Core
@model QA.ProductCatalog.Admin.WebApp.Models.TasksPageInfo

  <div id="task"></div>
  <script src="~/js/bundles/Task/Task.js"></script>