.form-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 0;
  &__label {
    width: 20%;
  }
  &__element {
    width: 70%;
  }
}

.label {
  width: 20%;
}
.field-element {
  width: 70%;
}
