<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="qp_database" connectionString="Initial Catalog=beeline_catalog_test_actions;Data Source=MSCSQL01;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity>
    <alias alias="ILogger" type="QA.Core.Logger.ILogger, QA.Core.Logger" />
    <alias alias="NullLogger" type="QA.Core.Logger.NullLogger, QA.Core.Logger" />
    <container name="Default">
      <register type="ILogger" mapTo="NullLogger" />
    </container>
  </unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
