.advantages-table {
  &__is-gift {
    margin-left: 10px;

    .pt-checkbox {
      position: relative;
      top: 3px;
      display: inline-block;
      margin: 0;
      margin-left: 5px;
    }
  }
}

.devices-filter {
  padding-top: 10px;

  .pt-switch.pt-align-right.pt-large {
    padding-left: 0;
    padding-right: 32px;

    .pt-control-indicator {
      top: 6px;
    }
  }

  .Select {
    margin-top: 2px;
  }
}

.products-accordion {
  &__regions {
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
