.schedule-popup {
  width: 400px;
  font-family: SFProText, sans-serif;

  &__select {
    &--inline {
      display: inline-block;
      .bp3-input {
        font-size: 16px;
      }
    }
    &--minute-select {
      width: 50px;
    }
  }

  &__switch {
    margin-bottom: 0;
  }

  .just-label {
    color: rgb(48, 54, 64);
    font-size: 14px;
  }

  &__select-row {
    max-width: 78%;
  }
}
