@using QA.Core.DPC.Resources
@model string
@{
	Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>@(ViewBag.Title ?? "DPC")</title>
	<meta name="app" content="dpc" />
	<style>
		body {
			margin: 0;
			padding: 0;
		}
	</style>
	
  <script src="~/js/bundles/jquery.min.js"></script>
  <script src="~/js/bundles/codemirror.min.js"></script>
  <link href="~/css/codemirror.min.css" rel="stylesheet"/>   

</head>
<body>
	@if (Model == null)
	{
		<h1>@ProductCardStrings.DisplayError</h1>
		<p>@ViewBag.Message</p>
	}
	else
	{
		@await Html.PartialAsync("JsonViewer")
	}
</body>
</html>