<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" internalLogLevel="Warn" internalLogFile="c:\logs\internal-log.txt">
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

    <targets>
        <target
                name="fileinfo"
                fileName="c:/Logs/QA.ProductCatalog.Admin.WebApp.QP/app-client-info.log"
                archiveFileName="c:/Logs/QA.ProductCatalog.Admin.WebApp.QP/app-client-info{#####}.log"/>
        <target
                name="fileexception"
                fileName="c:/Logs/QA.ProductCatalog.Admin.WebApp.QP/app-client-error.log"
                archiveFileName="c:/Logs/QA.ProductCatalog.Admin.WebApp.QP/app-client-error{#####}.log"/>
    </targets>
    <rules>
        <logger
                level="Debug"
                writeTo="fileinfo"/>
    </rules>
</nlog>