<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" internalLogLevel="Warn" internalLogFile="c:\logs\internal-log.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
    <add assembly="NLog.Web" />
  </extensions>
  
  <targets>
    <!-- описываем приемник для информационных сообщений -->
    <!-- xsi:type: запись в файл -->
    <!-- fileName: имя файла tariff-webservice-info.log в каталог Logs (автосоздание) в каталоге сборок приложения -->
    <!-- layout: шаблон сообщения - текст сообщения + перенос строки -->
    <!-- archiveFileName: включено архивирование -->
    <!-- archiveAboveSize: размер файл подлежащего архивированию, в байтах -->
    <!-- archiveNumbering: включена последовательная нумерация архивных файлов -->
    <!-- concurrentWrites: включен режим совместной записи в файл -->
    <!-- keepFileOpen: не держать файл открытым -->
    <target
        name="fileinfo"
        xsi:type="File"
        fileName="c:/Logs/QA.ProductCatalog.Admin.WebApp/app-client-info.log"
        layout="${newline}${date}: ${message}${newline}${exception:format=Type,Message,StackTrace}"
        archiveFileName="c:/Logs/QA.ProductCatalog.Admin.WebApp/app-client-info{#####}.log"
        archiveAboveSize="1024000"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false" />
		<target
					 name="debug"
					 xsi:type="File"
					 fileName="c:/Logs/QA.ProductCatalog.Admin.WebApp/app-client-debug.log"
					 layout="${newline}${date}: ${message}${newline}${exception:format=Type,Message,StackTrace}"
					 archiveFileName="c:/Logs/QA.ProductCatalog.Admin.WebApp/app-client-info{#####}.log"
					 archiveAboveSize="1024000"
					 archiveNumbering="Sequence"
					 concurrentWrites="true"
					 keepFileOpen="false" />
    <!-- описываем приемник для ошибок -->
    <!-- xsi:type: запись в файл -->
    <!-- fileName: имя файла tariff-webservice.log в каталог Logs (автосоздание) в каталоге сборок приложения -->
    <!-- layout: шаблон сообщения - текст сообщения + перенос строки -->
    <!-- archiveFileName: включено архивирование -->
    <!-- archiveAboveSize: размер файл подлежащего архивированию, в байтах -->
    <!-- archiveNumbering: включена последовательная нумерация архивных файлов -->
    <!-- concurrentWrites: включен режим совместной записи в файл -->
    <!-- keepFileOpen: не держать файл открытым -->
    <target
        name="fileexception"
        xsi:type="File"
        fileName="c:/Logs/QA.ProductCatalog.Admin.WebApp/app-client-error.log"
        layout="${newline}${longdate}:>> 
${newline}REMOTE_ADDR: ${aspnet-request:servervariable=REMOTE_ADDR} 
${newline}HTTP_URL: '${aspnet-request:servervariable=HTTP_URL}' 
${newline}HTTP_HOST: '${aspnet-request:servervariable=HTTP_HOST}' 
${newline}REQUEST_METHOD: '${aspnet-request:servervariable=REQUEST_METHOD}' 
${newline}HTTP_ALL: 
${newline}${aspnet-request:servervariable=ALL_RAW} 
${newline}MESSAGE 
${newline}${message}
${newline}${exception:format=Message,Type,Method,ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString}"
        archiveFileName="c:/Logs/QA.ProductCatalog.Admin.WebApp/app-client-error{#####}.log"
        archiveAboveSize="1024000"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false" />
  </targets>
  <!-- правила журналирования -->
  <rules>
    <!-- фатальные ошибки записываем в fileexception -->
    <logger name="*" level="Fatal" writeTo="fileexception" />
    <!-- ошибки записываем в fileexception -->
    <logger name="*" level="Error" writeTo="fileexception" />
    <!-- информационные сообщения записываем в fileinfo -->
    <logger name="*" level="Info" writeTo="fileinfo" />
    <logger name="*" level="Debug" writeTo="debug" />
  </rules>
</nlog>