<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ProductCatalog.Actions.TransactionTimeout" value="00:10:00" />
    <add key="LoaderWarmUpProductId" value="751950" />
  </appSettings>
  <connectionStrings>
    <add name="qp_database" connectionString="Application Name=DPC_Admin;Initial Catalog=catalog;Data Source=dbserver;User ID=user;Password=pass" providerName="System.Data.SqlClient" />
    <add name="consumer_monitoring" connectionString="Application Name=DPC_Admin;Initial Catalog=ref_front;Data Source=dbserver;User ID=user;Password=pass;" providerName="System.Data.SqlClient" />
    <add name="consumer_monitoringStage" connectionString="Application Name=DPC_Admin;Initial Catalog=ref_stage_front;Data Source=dbserver;User ID=user;Password=pass;" providerName="System.Data.SqlClient" />
    <add name="TaskRunnerEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbserver;Application Name=DPC_Admin;initial catalog=taskdb;user id=user;Password=pass;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity>
    <alias alias="ILogger" type="QA.Core.ILogger, QA.Core" />
    <alias alias="NLogLogger" type="QA.Core.NLogLogger, QA.Core" />
    <alias alias="Profiler" type="QA.Core.ProductCatalog.Actions.Container.ActionContainerProfiler, QA.Core.ProductCatalog.Actions" />
    <alias alias="IProductControlProvider" type="QA.Core.DPC.UI.IProductControlProvider, QA.Core.DPC.UI" />
    <alias alias="ProductControlProvider" type="QA.Core.DPC.Xaml.ProductControlProvider, QA.Core.DPC.Xaml" />
    <alias alias="ContentBasedProductControlProvider" type="QA.Core.DPC.UI.ContentBasedProductControlProvider, QA.Core.DPC.UI" />
    <alias alias="SettingsFromQpService" type="QA.Core.DPC.Loader.SettingsFromQpService, QA.Core.DPC.Loader" />
    <alias alias="SettingsFromContentService" type="QA.Core.DPC.Loader.SettingsFromContentService, QA.Core.DPC.Loader" />
    <alias alias="ISettingsService" type="QA.ProductCatalog.Infrastructure.ISettingsService, QA.ProductCatalog.Infrastructure" />
    <alias alias="IArticleFormatter" type="QA.ProductCatalog.Infrastructure.IArticleFormatter, QA.ProductCatalog.Infrastructure" />
    <alias alias="XmlProductFormatter" type="QA.Core.DPC.Formatters.Services.XmlProductFormatter, QA.Core.DPC.Formatters" />
    <alias alias="JsonProductFormatter" type="QA.Core.DPC.Formatters.Services.JsonProductFormatter, QA.Core.DPC.Formatters" />
    <container name="Default">
      <!-- Регистрируем сервис журналирования как синглетон -->
      <register type="ILogger" mapTo="NLogLogger">
        <lifetime type="singleton" />
        <constructor>
          <!-- в конструктор передаем имя файла с описанием правил журналирования -->
          <param name="fileName" value="NLogClient.config" />
        </constructor>
      </register>
      <register type="ILogger" mapTo="NLogLogger" name="Client">
        <lifetime type="singleton" />
        <constructor>
          <!-- в конструктор передаем имя файла с описанием правил журналирования -->
          <param name="fileName" value="NLogClient.config" />
        </constructor>
      </register>
      <register type="ILogger" mapTo="NLogLogger" name="Server">
        <lifetime type="singleton" />
        <constructor>
          <!-- в конструктор передаем имя файла с описанием правил журналирования -->
          <param name="fileName" value="NLogClient.config" />
        </constructor>
      </register>
      <!-- Детальное профилирование работы сервисов -->
      <!-- extension type="Profiler" /-->
      <register type="IProductControlProvider" mapTo="ProductControlProvider" />
      <register type="ISettingsService" mapTo="SettingsFromContentService" />
      <register type="IArticleFormatter" mapTo="XmlProductFormatter" />
    </container>
  </unity>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1"/>
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation targetFramework="4.5.2" debug="false">
      <assemblies>
        <add assembly="System.Xaml" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Optimization" />
        <add namespace="QA.Core.Models.Entities" />
        <add namespace="QA.Core.DPC.UI" />
        <add namespace="QA.Core.DPC.UI.Controls" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers accessPolicy="Read,Script" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotificationService" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mscservices01:8010/DpcNotificationService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService" contract="Notifications.INotificationService" name="BasicHttpBinding_INotificationService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Validation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.188" newVersion="1.1.0.188" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>