.container {
  .bp3-heading {
    margin: 20px 0 10px 20px;
  }
  .bp3-checkbox {
    margin-bottom: 0;
  }
}

.table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

.table thead th {
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(16, 22, 26, 0.15);
  font-weight: 500;
}

.table tbody tr:last-child td {
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}

.table tr th:first-child,
.table tr td:first-child {
  padding-left: 20px;
}

.table th,
.table td {
  padding-top: 12px;
  padding-bottom: 10px;
  text-align: center;
}

.table tbody tr:hover {
  background-color: white;
}

.table tbody tr:nth-child(odd) {
  background-color: rgba(206, 217, 224, 0.2);
}
