@import "~@blueprintjs/core/lib/scss/variables";

.xml-tree-node-gray {
  color: $turquoise1;
}

.xml-tree-node-red {
  color: $red1;
}

.xml-tree-node-content-0 {
  margin-left: 0;
}

.xml-tree-node-content-1 {
  margin-left: 23px;
}

.xml-tree-node-content-2 {
  margin-left: 46px;
}

.xml-tree-node-content-3 {
  margin-left: 69px;
}

.xml-tree-node-content-4 {
  margin-left: 92px;
}

.xml-tree-node-content-5 {
  margin-left: 115px;
}

.xml-tree-node-content-6 {
  margin-left: 138px;
}

.xml-tree-node-content-7 {
  margin-left: 161px;
}

.xml-tree-node-content-8 {
  margin-left: 184px;
}

.xml-tree-node-content-9 {
  margin-left: 207px;
}

.xml-tree-node-content-10 {
  margin-left: 230px;
}

.xml-tree-node-content-11 {
  margin-left: 253px;
}

.xml-tree-node-content-12 {
  margin-left: 276px;
}

.xml-tree-node-content-13 {
  margin-left: 299px;
}

.xml-tree-node-content-14 {
  margin-left: 322px;
}

.xml-tree-node-content-15 {
  margin-left: 345px;
}

.xml-tree-node-content-16 {
  margin-left: 368px;
}

.xml-tree-node-content-17 {
  margin-left: 391px;
}

.xml-tree-node-content-18 {
  margin-left: 414px;
}

.xml-tree-node-content-19 {
  margin-left: 437px;
}

.xml-tree-node-content-20 {
  margin-left: 460px;
}
