@import "~@blueprintjs/core/lib/scss/variables";

.xml-editor {
  &__form-view {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 19;
    background-color: $white;
  }

  .ace_search {
    z-index: 18;
  }
}
