<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QA.ProductCatalog.RegionSync.Service.RegionSyncServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="Target" connectionString="Application Name=RegionSyncService;Initial Catalog=catalog;Data Source=dbserver;User ID=user;Password=pass;" providerName="System.Data.SqlClient" />
      <add name="Source" connectionString="Application Name=RegionSyncService;Initial Catalog=main;Data Source=Data Source=dbserver;User ID=user;Password=pass;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <unity>
    <alias alias="perTask" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="perRunningService" type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="ISchedule" type="QA.Scheduler.API.Services.ISchedule, QA.Scheduler.API" />
    <alias alias="IntervalSchedule" type="QA.Scheduler.Core.Schedules.IntervalSchedule, QA.Scheduler.Core" />      
    <alias alias="IRegionService" type="QA.ProductCatalog.RegionSync.Core.Services.IRegionService, QA.ProductCatalog.RegionSync.Core" />
    <alias alias="RegionService" type="{transformation}" />
    <container>
      <register type="ISchedule" mapTo="IntervalSchedule" name="RegionSyncSchedule">
        <lifetime type="perRunningService" />
        <constructor>
          <param name="interval" value="00:10:00" />
        </constructor>
      </register>
      <register type="IRegionService" mapTo="RegionService">
        <lifetime type="perTask" />
        <constructor>
        </constructor>
      </register>
    </container>
  </unity>
    <appSettings>
    <!--Win service-->
    <add key="ServiceRepeatInterval" value="00:00:01" />
    <add key="ServiceRepeatOnErrorInterval" value="00:30:00" />
    <!--services-->
    <add key="RegionProvider.UserId" value="1" />
    <add key="RegionProvider.Source.RegionContentId" value="289" />
    <add key="RegionProvider.Target.RegionContentId" value="294" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
      <QA.ProductCatalog.RegionSync.Service.RegionSyncServiceSettings>
        <setting name="RegionSyncKey" serializeAs="String">
          <value>dpc.region.sync</value>
        </setting>
        <setting name="RegionSyncName" serializeAs="String">
          <value>DPC Region Sync</value>
        </setting>
        <setting name="RegionSyncDescription" serializeAs="String">
          <value>Сервис синхронизации регионов сайта и каталога</value>
        </setting>
      </QA.ProductCatalog.RegionSync.Service.RegionSyncServiceSettings>
    </applicationSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Validation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.1.1.2" />
         </dependentAssembly>
      </assemblyBinding>
    </runtime>    
</configuration>
