<?xml version="1.0" encoding="utf-8" ?>
<nlog
  autoReload="true"
  internalLogToConsole="false"
  internalLogToConsoleError="false"
  internalLogLevel="Error"
  internalLogFile="c:\logs\internal-log.txt"
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- описываем приемник для информационных сообщений -->
    <!-- xsi:type: запись в файл -->
    <!-- fileName: имя файла -->
    <!-- layout: шаблон сообщения - текст сообщения + перенос строки -->
    <!-- archiveFileName: включено архивирование -->
    <!-- archiveAboveSize: размер файл подлежащего архивированию, в байтах -->
    <!-- archiveNumbering: включена последовательная нумерация архивных файлов -->
    <!-- concurrentWrites: включен режим совместной записи в файл -->
    <!-- keepFileOpen: не держать файл открытым -->
    <target
        name="fileinfo"
        xsi:type="File"
        fileName="c:/Logs/QA.ProductCatalog.RegionSync.Service/dpc.region.sync.info.log"
        layout="${newline}${date}: ${message}${newline}${exception:format=Type,Message,StackTrace}"
        archiveFileName="c:/Logs/QA.ProductCatalog.RegionSync.Service/dpc.region.sync.info{#####}.log"
        archiveAboveSize="10240000"
        archiveNumbering="Sequence"
        encoding="UTF-8"
        concurrentWrites="true"
        keepFileOpen="false" />
    <target
        name="fileexception"
        xsi:type="File"
        fileName="c:/Logs/QA.ProductCatalog.RegionSync.Service/dpc.region.sync.errors.log"
        layout="${newline}${date}: ${message}${newline}${exception:format=Type,Message,StackTrace}"
        archiveFileName="c:/Logs/QA.ProductCatalog.RegionSync.Service/dpc.region.sync.errors{#####}.log"
        archiveAboveSize="10240000"
        archiveNumbering="Sequence"
        encoding="UTF-8"
        concurrentWrites="true"
        keepFileOpen="false" />
    <target xsi:type="Console"
         name="console"
         layout="${newline}${date}: ${message}${newline}${exception:format=Type,Message,StackTrace}"
         footer="----" />
  </targets>
  <!-- правила журналирования -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileinfo,console" />
    <logger name="*" minlevel="Error" writeTo="fileexception" />
  </rules>
</nlog>