@import "~@blueprintjs/core/lib/scss/variables";

.field-editor__block {
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.field-editor__label {
  line-height: 30px;
  min-width: 196px;

  > label {
    display: inline-block;
    line-height: 18px;
  }

  .field-editor__label-text {
    &--edited {
      color: $blue2;
      text-shadow: 0 0 0 $blue2;
      text-decoration-line: underline;
      text-underline-position: under;
    }

    &--invalid {
      color: $red2;
      text-shadow: 0 0 0 $red2;
      text-decoration-line: underline;
      text-underline-position: under;
    }
  }

  &--small {
    line-height: 24px;
  }

  .bp3-icon {
    position: relative;
    top: 3px;
    zoom: 0.9;
    color: #5c7080;
    cursor: help;
  }
}

.field-editor__label-required {
  font-weight: bold;
  color: $red2;
}

.file-field-editor {
  .bp3-icon-media::before {
    color: $blue2;
  }

  .bp3-icon-cloud-download::before {
    color: $green2;
  }

  .bp3-icon-folder-close::before {
    color: $orange2;
  }
}
