.field-editor__block {
  min-width: 592px;
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.field-editor__label {
  line-height: 30px;

  > label {
    display: inline-block;
    line-height: 18px;
  }

  &--small {
    line-height: 24px;
  }
}

.field-editor__label-required {
  font-weight: bold;
  color: #c23030;
}
