@import "~@blueprintjs/core/lib/scss/variables";

.field-editor__block {
  min-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.field-editor__label {
  line-height: 30px;
  min-width: 196px;

  > label {
    display: inline-block;
    line-height: 18px;
  }

  &--small {
    line-height: 24px;
  }
}

.field-editor__label-required {
  font-weight: bold;
  color: $red2;
}

.file-field-editor {
  .pt-icon-eye-open::before {
    color: $blue2;
  }

  .pt-icon-cloud-download::before {
    color: $green2;
  }

  .pt-icon-folder-close::before {
    color: $orange2;
  }
}
