<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <section name="ConfigurationStorage" type="QA.Configuration.XamlConfigurationSection, QA.Configuration" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="qp_database" connectionString="Application Name=DPC_Admin;Initial Catalog=catalog;Data Source=dbserver;User ID=user;Password=pass;" providerName="System.Data.SqlClient" />
    <add name="QA.Core.DPC.Properties.Settings.notification_database" connectionString="Application Name=DPC_Admin;Initial Catalog=catalog;Data Source=dbserver;User ID=user;Password=pass;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- описываем интерфейс сервиса журналирования -->
    <alias alias="ILogger" type="QA.Core.Logger.ILogger, QA.Core" />
    <!-- описываем конкретные классы журналирования -->
    <alias alias="NLogLogger" type="QA.Core.Logger.NLogLogger, QA.Core" />
    <alias alias="IConfigurationService" type="QA.Configuration.IConfigurationService, QA.Configuration" />
    <alias alias="ConfigurationService" type="QA.Configuration.ConfigurationService, QA.Configuration" />
    <alias alias="IMessageService" type="QA.Core.DPC.Service.IMessageService, QA.Core.DPC.NotificationSender" />
    <alias alias="MessageService" type="QA.Core.DPC.Service.MessageService, QA.Core.DPC.NotificationSender" />
    <alias alias="INotificationProvider" type="QA.ProductCatalog.Infrastructure.INotificationProvider, QA.ProductCatalog.Infrastructure" />
    <alias alias="NotificationConfigurationProvider" type="QA.Core.DPC.Notification.Services.NotificationConfigurationProvider, QA.Core.DPC.Notification" />
    <alias alias="NotificationContentProvider" type="QA.Core.DPC.Notification.Services.NotificationContentProvider, QA.Core.DPC.Notification" />
    <alias alias="ISettingsService" type="QA.ProductCatalog.Infrastructure.ISettingsService, QA.ProductCatalog.Infrastructure" />
    <alias alias="SettingsFromQpService" type="QA.Core.DPC.Loader.SettingsFromQpService, QA.Core.DPC.Loader" />
    <alias alias="SettingsFromContentService" type="QA.Core.DPC.Loader.SettingsFromContentService, QA.Core.DPC.Loader" />
    <!--регистрируем unitycontainer c именем Default-->
    <container name="Default">
      <!-- Регистрируем сервис журналирования как синглетон -->
      <register type="ILogger" mapTo="NLogLogger">
        <lifetime type="singleton" />
        <constructor>
          <!-- в конструктор передаем имя файла с описанием правил журналирования -->
          <param name="fileName" value="NLogClient.config" />
        </constructor>
      </register>
      <!-- регистрируем конфигуратор -->
      <register type="IConfigurationService" mapTo="ConfigurationService">
        <lifetime type="singleton" />
      </register>
      <register type="IMessageService" mapTo="MessageService">
        <lifetime type="singleton" />
      </register>
      <register type="INotificationProvider" mapTo="NotificationConfigurationProvider">
        <lifetime type="singleton" />
      </register>
      <register type="ISettingsService" mapTo="SettingsFromContentService" />
    </container>
  </unity>
  <ConfigurationStorage xmlns="http://artq.com/configuration" xmlns:dpc="clr-namespace:QA.ProductCatalog.Infrastructure;assembly=QA.ProductCatalog.Infrastructure" xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml">
    <dpc:NotificationSenderConfig x:Key="Notifications" CheckInterval="10" ErrorCountBeforeWait="5" WaitIntervalAfterErrors="300" TimeOut="15" PackageSize="10">
      <dpc:NotificationSenderConfig.Channels></dpc:NotificationSenderConfig.Channels>
    </dpc:NotificationSenderConfig>
  </ConfigurationStorage>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="QA.Core.DPC.NotificationService" behaviorConfiguration="NotificationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://mscservices01:8011/DpcNotificationService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DpcBinding" contract="QA.Core.DPC.INotificationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="DpcBinding" closeTimeout="00:50:00" openTimeout="00:50:00" sendTimeout="00:50:00" receiveTimeout="00:50:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NotificationServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Validation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
