<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ConfigurationStorage" type="QA.Configuration.XamlConfigurationSection, QA.Configuration" />
  </configSections>
  <ConfigurationStorage xmlns="http://artq.com/configuration" xmlns:dpc="clr-namespace:QA.ProductCatalog.Infrastructure;assembly=QA.ProductCatalog.Infrastructure" xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml">
    <dpc:NotificationSenderConfig x:Key="Notifications" CheckInterval="10" ErrorCountBeforeWait="5" WaitIntervalAfterErrors="300" TimeOut="15" PackageSize="10">
      <dpc:NotificationSenderConfig.Channels></dpc:NotificationSenderConfig.Channels>
    </dpc:NotificationSenderConfig>
  </ConfigurationStorage>
</configuration>