<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" internalLogLevel="Warn" internalLogFile="c:\logs\internal-log.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logDirectory" value="c:/logs/DPC.NotificationSender.QP"/>      
  <targets>
    <target name="fileinfo" xsi:type="File" encoding="UTF-8"
            fileName="${logDirectory}/app-client-info.log"
            layout="${newline}${date}: ${message}${newline}${exception:format=Type,Message,StackTrace}"
            archiveFileName="${logDirectory}/app-client-info{#####}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target name="fileexception" xsi:type="File" encoding="UTF-8"
            fileName="${logDirectory}/app-client-error.log"
            layout="${newline}${longdate}:>> 
            ${newline}MESSAGE 
            ${newline}${message}
            ${newline}${exception:format=Message,Type,Method,ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString}"
            archiveFileName="${logDirectory}/app-client-error{#####}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target name="fileStructured" xsi:type="File" encoding="UTF-8"
            fileName="${logDirectory}/current.log"
            archiveFileName="${logDirectory}/current{#####}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="request_id" layout="${aspnet-traceidentifier}" />
        <attribute name="url"
                   layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=@}"
                   encode="false" />
      </layout>
    </target>
    
    <target name="console" xsi:type="Console" encoding="UTF-8">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="request_id" layout="${aspnet-traceidentifier}" />
        <attribute name="url"
                   layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=@}"
                   encode="false" />
        <attribute name="emitter" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="appname" layout="${environment:SERVICE_NAME}" />
            <attribute name="version" layout="${environment:SERVICE_VERSION}" />
          </layout>
        </attribute>
      </layout>
    </target>
    
  </targets>

  <rules>
    <logger name="*" levels="Warn,Error,Fatal" writeTo="console" />
    <logger name="*" levels="Info" writeTo="console" />
  </rules>
</nlog>