@using QA.ProductCatalog.Admin.WebApp.Core
@model QA.Core.DPC.UI.Controls.DocumentReference
@if (Model == null || Model.ReferenceTo == null || (Model.Hidden ?? false)) { return; }

@{
	object title = Model.GetTitle();
    string referenceId = Model.ReferenceTo.UId;
}
<span class="anchor-wrapper"><a class="anchor bold" href="#@referenceId">@Model.ReplaceNotesIfNeeded(title.ToString())</a></span>



