@model QA.Core.DPC.UI.Controls.Icon
@if (Model == null || Model.Hidden || Model.ClassName == null) { return; }
<span class="icon @Model.ClassName"><img src="@Url.Content("~/images/icons/0.gif")"></span>