@import "~@blueprintjs/core/lib/scss/variables";

.entity-editor__header {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.entity-editor__title {
  font-size: 120%;
  flex: 1 1 0%;
  min-width: 200px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.entity-editor__buttons {
  flex: none;
  margin-bottom: 10px;
}

.entity-link {
  .bp3-button-text {
    color: $dark-gray1 !important;
    user-select: auto;
  }
}

.entity-editor__header {
  .entity-link {
    position: relative;
    left: -5px;
  }
}
