@using QA.ProductCatalog.Integration.Notifications
@using QA.Core.DPC.Resources
@model ConfigurationInfo
  <div id="notification"></div>

@section scripts{
  <script type="text/javascript" defer>

  </script>
  <script src="~/js/bundles/Notification/Notification.js" defer></script>
}
