@using System.Globalization
@using QA.Core.DPC.Resources
@model QA.ProductCatalog.Admin.WebApp.Models.DefinitionEditor

<script>
    window.definitionEditor = {
      xml: "@Model.Xml",
    };
</script>
@Html.TextArea("code", Model.Xml, new { disabled = "disabled", cols = 100, rows = 10 })
<div id="definitionEditor"></div>
<script src="~/js/bundles/DefinitionEditor/DefinitionEditor.js"></script>