.filter-options-wrap {
  padding: 16px 12px 8px 12px;
  min-width: 148px;
  &__buttons-wrap {
    display: flex;
    flex-direction: row;
    //если нужно растянуть кнопки
    //justify-content: space-between;
  }
  &__button {
    &:focus {
      outline: none;
    }
    margin: 4px;
  }
}
