<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" internalLogLevel="Error" internalLogFile="c:\logs\internal-log.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Web" />
  </extensions>
  <variable name="logDirectory" value="c:/logs/QA.ProductCatalog.HighloadFront.API"/>
  <targets>
    <!--Корневая директория для записи логов-->
    <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" />
    <!-- описываем приемник для информационных сообщений -->
    <!-- xsi:type: запись в файл -->
    <!-- fileName: имя файла info.log в каталог Logs (автосоздание) в каталоге сборок приложения -->
    <!-- layout: шаблон сообщения - текст сообщения + перенос строки -->
    <!-- archiveFileName: включено архивирование -->
    <!-- archiveAboveSize: размер файл подлежащего архивированию, в байтах -->
    <!-- archiveNumbering: включена последовательная нумерация архивных файлов -->
    <!-- concurrentWrites: включен режим совместной записи в файл -->
    <!-- keepFileOpen: не держать файл открытым -->
    <target
			name="levelBased"
			xsi:type="File"
			fileName="${logDirectory}/${level}.log"
			layout="${newline}${newline}${longdate}|${threadid}:>> ${newline}${message}"
			archiveFileName="${logDirectory}/${level}{#####}.log"
			archiveAboveSize="102400000"
			archiveNumbering="Sequence"
			concurrentWrites="true"
			keepFileOpen="false"
      encoding="UTF-8"/>

    <!-- описываем приемник для ошибок -->
    <!-- xsi:type: запись в файл -->
    <!-- fileName: имя файла err.log в каталог Logs (автосоздание) в каталоге сборок приложения -->
    <!-- layout: шаблон сообщения - текст сообщения + перенос строки -->
    <!-- archiveFileName: включено архивирование -->
    <!-- archiveAboveSize: размер файл подлежащего архивированию, в байтах -->
    <!-- archiveNumbering: включена последовательная нумерация архивных файлов -->
    <!-- concurrentWrites: включен режим совместной записи в файл -->
    <!-- keepFileOpen: не держать файл открытым -->
    <target
			name="fileexception"
			xsi:type="File"
			fileName="${logDirectory}/error.log"
			layout="${newline}${longdate}:>> 
${newline}PID (${processid}) TID(${threadid}) ${newline}MESSAGE ${newline}${message}${newline}${exception:format=Message,Type,Method,ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString}"
      archiveFileName="${logDirectory}/error{#####}.log"
			archiveAboveSize="10240000"
			archiveNumbering="Sequence"
			concurrentWrites="true"
			keepFileOpen="false"
      encoding="UTF-8"/>

  <target
    name="elastictrace"
    xsi:type="File"
    layout="${aspnet-request-url}${newline}${message}"
    fileName="${logDirectory}/${level}.log"
    archiveFileName="${logDirectory}/${level}{#####}.log"
    archiveAboveSize="102400000"
    archiveNumbering="Sequence"
    concurrentWrites="true"
    keepFileOpen="false"
    encoding="UTF-8"/>
  <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- правила журналирования -->
  <rules>
    <!-- ошибки записываем в fileexception -->
    <logger name="*" levels="Warn,Error,Fatal" writeTo="fileexception" />
    <!-- информационные сообщения записываем в levelBased -->
    <logger name="*" levels="Debug,Info" writeTo="levelBased" />

    <!-- трейс запросов к elasticsearch -->
    <logger name="*" levels="Trace" writeTo="elastictrace" />
  </rules>
</nlog>