.forms-wrapper {
  display: flex;
  height: 100%;
  padding: 30px 20px 20px;
  &--loading {
    justify-content: center;
  }
  form {
    width: 100%;
  }
  &__loading.sk-circle {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 20px;
  }
}
