@import "~@blueprintjs/core/lib/scss/variables";

.my-last-task {
  padding: 10px 20px;
  font-family: SFProText, sans-serif;
  display: flex;
  .bp3-callout.bp3-callout-icon > .bp3-icon:first-child {
    top: 12px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  &__header-item {
    margin-right: 6px;
  }
  &__id {
    color: rgba(92, 112, 128, 0.5);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }
  &__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    &--primary {
      color: $blue1;
    }
    &--success {
      color: $green1;
    }
    &--warning {
      color: $orange1;
    }
    &--danger {
      color: $red1;
    }
    &--none {
      color: $dark-gray1;
    }
  }
  &__message {
    margin-top: 10px;
    color: rgb(92, 112, 128);
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    line-height: 18px;
  }
  &__icon {
    top: 20px;
  }
}

.last-task-tooltip {
  font-size: 14px;
  font-family: SFProText, sans-serif;

  &__wrap {
    margin: -10px;
  }
  &__row {
    color: rgb(245, 248, 250);
    margin: 6px;
    &--margin-top {
      margin-top: 12px;
    }
    &--margin-bottom {
      margin-bottom: 12px;
    }
  }

  &__bar-wrapper {
    padding: 12px 6px 6px 6px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
