.form-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 0;
  &__label {
    width: 20%;
  }
  &--hide {
    visibility: hidden;
  }
}
.form-field-element-wrap {
  width: 70%;
}
