.ProgressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ProgressBar__label {
  margin-left: 5px;
}

.Chip {
  padding: 4px 7px 4px 4px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 16px;
  color: white;
}
.Chip__icon {
  margin-right: 4px;
}

.PartialSend__description {
  max-width: 812px;
}

.PartialSend__ids {
  margin-bottom: 10px;
  border: none !important;
  resize: vertical;
}

body {
  background-color: #f5f8fa;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.PartialSend {
  height: 100%;
}

.half-transparent {
  opacity: 0.5;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formLayout fieldset {
  margin: 0 0 1.875rem 0;
  padding: 10px 20px 0 20px;
  border: none;
}

.formLayout .bp3-heading {
  margin-top: 15px;
}

.formLayout .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0 0 20px 0;
  min-height: 1em;
}

.formLayout .row:last-child {
  margin-bottom: 0;
}

.formLayout dt.label {
  padding: 0 1.625rem 0 0;
  width: 13.125rem;
}

.formLayout dd.field {
  margin: 0;
  padding: 10px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: rgba(206, 217, 224, 0.2);
}

.formLayout dd.transparent {
  background-color: initial;
}

.formLayout textarea {
  border: 1px solid #909090;
}

.formLayout input.textbox,
.formLayout textarea.textbox,
.formLayout select.dropDownList,
.formLayout select.listBox {
  width: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.highlighted {
  padding: 0 8px;
  background-color: rgba(206, 217, 224, 0.6);
}
