.multi-relation-field-tabs {
  &--empty,
  &--hidden {
    display: none;
  }

  &:not(.pt-vertical) > .pt-tab-list {
    > .pt-tab {
      max-width: 33%;
    }
  }

  &.pt-vertical > .pt-tab-list {
    > .pt-tab {
      max-width: 33vw;
    }
  }
}

.multi-relation-field-tabs__title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-relation-field-tabs {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  &--hidden {
    display: none;
  }
}
