.pagination {
  padding: 20px 10px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 24px;
  color: #182026;
  font-weight: normal;
}
.pagination .pagination__info-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 24px;
  min-width: 86px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.64)),
      to(rgba(255, 255, 255, 0))
    )
    #f5f8fa;
  background: linear-gradient(
      -180deg,
      rgba(255, 255, 255, 0.64) 0%,
      rgba(255, 255, 255, 0) 100%
    )
    #f5f8fa;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -1px 1px 0px rgba(16, 22, 26, 0.1),
    inset 0px 0px 0px 1px rgba(16, 22, 26, 0.2);
  box-shadow: inset 0px -1px 1px 0px rgba(16, 22, 26, 0.1),
    inset 0px 0px 0px 1px rgba(16, 22, 26, 0.2);
}
.pagination__info {
  padding: 0 10px;
}
.pagination__buttons-container:nth-child(n) {
  margin-right: 40px;
}
.pagination__button {
  min-height: 24px;
  min-width: 24px;
}
.pagination__button--with-left-margin {
  margin-left: 10px;
}
.pagination__button .bp3-icon {
  color: #000000;
}

.filter-cell {
  color: #137cbd;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.grid {
  width: 100%;
  /*custom cells*/
  /*end custom cells*/
}
.grid__cell {
  color: #182026;
  font-family: SFProText, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.grid__rerun-cell {
  min-width: 60px;
}
.grid .grid-head__th,
.grid .grid-head__td,
.grid .grid-body__th,
.grid .grid-body__td {
  padding: 0 10px;
  text-align: left;
  height: 40px;
  vertical-align: middle;
  font-weight: normal;
}
.grid .grid-head__tr {
  border-top: 1px solid rgba(16, 22, 26, 0.15);
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}
.grid .grid-head__th {
  font-weight: 600;
}
.grid .grid-body__tr:hover {
  background: white;
}
.grid .grid-body__tr:hover .inside-cell {
  display: inline-block;
}

.truncate-cell {
  overflow: hidden;
  max-width: 100%;
}

.truncate-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  resize: horizontal;
  padding-right: 8px;
}

.bp3-tooltip .bp3-tooltip-indicator {
  border-bottom: none;
}

.bp3-tooltip .bp3-popover-content {
  font-family: SFProText, sans-serif;
  font-size: 14px;
  max-width: 210px;
  color: rgba(245, 248, 250, 0.56);
}

.ProgressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ProgressBar__label {
  margin-left: 5px;
}

.inside-cell .ProgressBar {
  margin: 1px;
}

.rerun-container__icon {
  padding: 0 10px 0 10px;
  cursor: pointer;
}

.status-cell-tag {
  padding: 4px 8px 4px 8px;
  font-size: 12px;
}
.status-cell-tag .bp3-icon svg {
  width: 14px;
  height: 14px;
}

.with-untruncated-element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bp3-tooltip .bp3-tooltip-indicator {
  border-bottom: none;
}

.bp3-tooltip .bp3-popover-content {
  font-family: SFProText, sans-serif;
  font-size: 14px;
  max-width: 210px;
  color: rgba(245, 248, 250, 0.56);
}

/*
 * Copyright 2017 Palantir Technologies, Inc. All rights reserved.
 */
.my-last-task {
  padding: 10px 20px;
  font-family: SFProText, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.my-last-task .bp3-callout.bp3-callout-icon > .bp3-icon:first-child {
  top: 12px;
}
.my-last-task__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.my-last-task__header-item {
  margin-right: 6px;
  max-height: 24px;
}
.my-last-task__id {
  color: rgba(92, 112, 128, 0.5);
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.my-last-task__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.my-last-task__name--primary {
  color: #0e5a8a;
}
.my-last-task__name--success {
  color: #0a6640;
}
.my-last-task__name--warning {
  color: #a66321;
}
.my-last-task__name--danger {
  color: #a82a2a;
}
.my-last-task__name--none {
  color: #182026;
}
.my-last-task__message {
  margin-top: 10px;
  color: #5c7080;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  line-height: 18px;
}
.my-last-task__icon {
  top: 20px;
}

.last-task-tooltip {
  font-size: 14px;
  font-family: SFProText, sans-serif;
}
.last-task-tooltip__wrap {
  margin: -10px;
}
.last-task-tooltip__row {
  color: #f5f8fa;
  margin: 6px;
}
.last-task-tooltip__row--margin-top {
  margin-top: 12px;
}
.last-task-tooltip__row--margin-bottom {
  margin-bottom: 12px;
}
.last-task-tooltip__bar-wrapper {
  padding: 12px 6px 6px 6px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bp3-datepicker {
  background: #ffffff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bp3-datepicker .DayPicker {
  display: inline-block;
  min-width: 210px;
  position: relative;
  vertical-align: top;
}

.bp3-datepicker .DayPicker:focus {
  outline: none;
}

.bp3-datepicker .bp3-datepicker-day-wrapper {
  border-radius: 3px;
  padding: 7px;
}

.bp3-datepicker .DayPicker-Month {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-table;
  margin: 0 5px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bp3-datepicker .DayPicker-Month + .bp3-datepicker .DayPicker-Month {
  margin-left: 10px;
}

.bp3-datepicker .DayPicker-Caption {
  display: table-caption;
}

.bp3-datepicker .DayPicker-Weekdays {
  display: table-header-group;
}

.bp3-datepicker .DayPicker-WeekdaysRow {
  display: table-row;
}

.bp3-datepicker .DayPicker-Weekday {
  display: table-cell;
  height: 30px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  font-weight: 600;
  padding-top: 5px;
}

.bp3-datepicker .DayPicker-Weekday abbr[title] {
  text-decoration: none;
}

.bp3-datepicker .DayPicker-Body {
  display: table-row-group;
}

.bp3-datepicker .DayPicker-Week {
  display: table-row;
}

.bp3-datepicker .DayPicker-WeekNumber {
  display: table-cell;
  height: 30px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  color: rgba(92, 112, 128, 0.6);
  font-size: 14px;
}

.bp3-datepicker .DayPicker-Day {
  display: table-cell;
  height: 30px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--outside {
  color: rgba(92, 112, 128, 0.6);
}

.bp3-datepicker
  .DayPicker-Day.DayPicker-Day--isToday
  .bp3-datepicker-day-wrapper {
  border: 1px solid rgba(16, 22, 26, 0.15);
}

.bp3-datepicker .DayPicker-Day:hover,
.bp3-datepicker .DayPicker-Day:focus {
  background: #d8e1e8;
  color: #182026;
}

.bp3-datepicker .DayPicker-Day:active {
  background: #ced9e0;
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--selected {
  background-color: #137cbd;
  border-radius: 3px;
  color: #ffffff;
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--selected:hover {
  background-color: #106ba3;
}

.bp3-datepicker .DayPicker-Day.DayPicker-Day--disabled {
  background: none;
  color: rgba(92, 112, 128, 0.6);
  cursor: not-allowed;
}

.bp3-datepicker-navbar {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.bp3-datepicker-navbar > .DayPicker-NavButton--prev {
  margin-right: auto;
}

.bp3-datepicker-navbar > .DayPicker-NavButton--next {
  margin-left: auto;
}

.bp3-datepicker-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 25px 5px;
}

.bp3-datepicker-caption > * {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.bp3-datepicker-caption > :first-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.bp3-datepicker-caption select {
  font-weight: 600;
  padding-left: 5px;
  padding-right: 16px;
}

.bp3-datepicker-caption select + .bp3-icon {
  right: 2px;
}

.bp3-datepicker-caption + .bp3-divider {
  margin: 0;
}

.bp3-datepicker-month-select {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.bp3-datepicker-year-select {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 60px;
}

.bp3-datepicker-caption-measure {
  font-weight: 600;
  padding-left: 5px;
}

.bp3-datepicker-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bp3-dark .bp3-datepicker {
  background: #30404d;
}

.bp3-dark .bp3-datepicker .DayPicker-WeekNumber {
  color: rgba(167, 182, 194, 0.6);
}

.bp3-dark .bp3-datepicker .DayPicker-Day.DayPicker-Day--outside {
  color: rgba(167, 182, 194, 0.6);
}

.bp3-dark
  .bp3-datepicker
  .DayPicker-Day.DayPicker-Day--isToday
  .bp3-datepicker-day-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.bp3-dark .bp3-datepicker .DayPicker-Day:hover,
.bp3-dark .bp3-datepicker .DayPicker-Day:focus {
  background: #5c7080;
  color: #ffffff;
}

.bp3-dark .bp3-datepicker .DayPicker-Day:active {
  background: #738694;
}

.bp3-dark .bp3-datepicker .DayPicker-Day.DayPicker-Day--selected {
  background-color: #137cbd;
}

.bp3-dark .bp3-datepicker .DayPicker-Day.DayPicker-Day--selected:hover {
  background-color: #2b95d6;
}

.bp3-dark .bp3-datepicker .DayPicker-Day.DayPicker-Day--disabled {
  background: none;
  color: rgba(167, 182, 194, 0.6);
}

.bp3-dark .bp3-datepicker .bp3-datepicker-footer {
  border-top-color: rgba(16, 22, 26, 0.4);
}

.bp3-datepicker-timepicker-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bp3-daterangepicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.bp3-daterangepicker .DayPicker-NavButton--interactionDisabled {
  display: none;
}

.bp3-daterangepicker .bp3-daterangepicker-timepickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.bp3-daterangepicker.bp3-daterangepicker-contiguous .DayPicker {
  min-width: 220px;
}

.bp3-daterangepicker.bp3-daterangepicker-single-month .DayPicker {
  min-width: 210px;
}

.bp3-daterangepicker .DayPicker-Day--outside {
  visibility: hidden;
}

.bp3-daterangepicker .DayPicker-Day--hovered-range {
  border-radius: 0;
}

.bp3-daterangepicker
  .DayPicker-Day--hovered-range:not(.DayPicker-Day--selected):not(.DayPicker-Day--selected-range):not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--selected-range-end) {
  background-color: #ebf1f5;
}

.bp3-daterangepicker .DayPicker-Day--selected-range {
  background-color: #ebf1f5;
  border-radius: 0;
}

.bp3-daterangepicker .DayPicker-Day--selected-range:hover {
  background-color: #ced9e0;
}

.bp3-daterangepicker
  .DayPicker-Day--selected-range-start:not(.DayPicker-Day--selected-range-end):not(.DayPicker-Day--hovered-range-end) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.bp3-daterangepicker
  .DayPicker-Day--selected-range-end:not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--hovered-range-start) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.bp3-daterangepicker
  .DayPicker-Day--hovered-range-start:not(.DayPicker-Day--hovered-range-end) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.bp3-daterangepicker
  .DayPicker-Day--hovered-range-end:not(.DayPicker-Day--hovered-range-start) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.bp3-dark
  .bp3-daterangepicker
  .DayPicker-Day--hovered-range:not(.DayPicker-Day--selected):not(.DayPicker-Day--selected-range):not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--selected-range-end) {
  background-color: #394b59;
}

.bp3-dark .bp3-daterangepicker .DayPicker-Day--selected-range {
  background-color: #394b59;
}

.bp3-dark .bp3-daterangepicker .DayPicker-Day--selected-range:hover {
  background-color: #5c7080;
}

.bp3-menu.bp3-daterangepicker-shortcuts {
  min-width: 120px;
  padding: 0;
}

.bp3-timepicker {
  white-space: nowrap;
}

.bp3-timepicker .bp3-timepicker-arrow-row {
  padding: 0 1px;
}

.bp3-timepicker .bp3-timepicker-arrow-button {
  color: #5c7080;
  display: inline-block;
  padding: 4px 0;
  text-align: center;
  width: 33px;
}

.bp3-timepicker .bp3-timepicker-arrow-button:hover {
  color: #182026;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-arrow-button {
  color: #a7b6c2;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-arrow-button:hover {
  color: #f5f8fa;
}

.bp3-timepicker .bp3-timepicker-arrow-button + .bp3-timepicker-arrow-button {
  margin-left: 11px;
}

.bp3-timepicker .bp3-timepicker-arrow-button:hover {
  cursor: pointer;
}

.bp3-timepicker .bp3-timepicker-input-row {
  background: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  display: inline-block;
  height: 30px;
  line-height: 28px;
  padding: 0 1px;
  vertical-align: middle;
}

.bp3-timepicker .bp3-timepicker-divider-text {
  color: #5c7080;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  width: 11px;
}

.bp3-timepicker .bp3-timepicker-input {
  background: transparent;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0);
  color: #182026;
  height: 28px;
  outline: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9),
    -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  width: 33px;
}

.bp3-timepicker .bp3-timepicker-input:focus {
  -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3);
  box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3);
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary {
  -webkit-box-shadow: 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px #137cbd,
    inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
    inset 0 0 0 1px #137cbd, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary:focus {
  -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #137cbd;
  box-shadow: inset 0 0 0 1px #137cbd;
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary:disabled,
.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-primary {
  -webkit-box-shadow: 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
    inset 0 0 0 1px #137cbd, inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px #137cbd,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-primary:focus {
  -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 1px #137cbd,
    0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 1px #137cbd, 0 0 0 1px #137cbd,
    0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-primary[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #137cbd;
  box-shadow: inset 0 0 0 1px #137cbd;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-primary:disabled,
.bp3-dark
  .bp3-timepicker
  .bp3-timepicker-input.bp3-intent-primary.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-success {
  -webkit-box-shadow: 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0),
    inset 0 0 0 1px #0f9960, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0),
    inset 0 0 0 1px #0f9960, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-success:focus {
  -webkit-box-shadow: 0 0 0 1px #0f9960, 0 0 0 3px rgba(15, 153, 96, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px #0f9960, 0 0 0 3px rgba(15, 153, 96, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-success[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #0f9960;
  box-shadow: inset 0 0 0 1px #0f9960;
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-success:disabled,
.bp3-timepicker .bp3-timepicker-input.bp3-intent-success.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-success {
  -webkit-box-shadow: 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0),
    0 0 0 0 rgba(15, 153, 96, 0), inset 0 0 0 1px #0f9960,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0),
    0 0 0 0 rgba(15, 153, 96, 0), inset 0 0 0 1px #0f9960,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-success:focus {
  -webkit-box-shadow: 0 0 0 1px #0f9960, 0 0 0 1px #0f9960,
    0 0 0 3px rgba(15, 153, 96, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 1px #0f9960, 0 0 0 1px #0f9960,
    0 0 0 3px rgba(15, 153, 96, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-success[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #0f9960;
  box-shadow: inset 0 0 0 1px #0f9960;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-success:disabled,
.bp3-dark
  .bp3-timepicker
  .bp3-timepicker-input.bp3-intent-success.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning {
  -webkit-box-shadow: 0 0 0 0 rgba(217, 130, 43, 0),
    0 0 0 0 rgba(217, 130, 43, 0), inset 0 0 0 1px #d9822b,
    inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0),
    inset 0 0 0 1px #d9822b, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning:focus {
  -webkit-box-shadow: 0 0 0 1px #d9822b, 0 0 0 3px rgba(217, 130, 43, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px #d9822b, 0 0 0 3px rgba(217, 130, 43, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #d9822b;
  box-shadow: inset 0 0 0 1px #d9822b;
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning:disabled,
.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-warning {
  -webkit-box-shadow: 0 0 0 0 rgba(217, 130, 43, 0),
    0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0),
    inset 0 0 0 1px #d9822b, inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0),
    0 0 0 0 rgba(217, 130, 43, 0), inset 0 0 0 1px #d9822b,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-warning:focus {
  -webkit-box-shadow: 0 0 0 1px #d9822b, 0 0 0 1px #d9822b,
    0 0 0 3px rgba(217, 130, 43, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 1px #d9822b, 0 0 0 1px #d9822b,
    0 0 0 3px rgba(217, 130, 43, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-warning[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #d9822b;
  box-shadow: inset 0 0 0 1px #d9822b;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-warning:disabled,
.bp3-dark
  .bp3-timepicker
  .bp3-timepicker-input.bp3-intent-warning.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger {
  -webkit-box-shadow: 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0),
    inset 0 0 0 1px #db3737, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0),
    inset 0 0 0 1px #db3737, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger:focus {
  -webkit-box-shadow: 0 0 0 1px #db3737, 0 0 0 3px rgba(219, 55, 55, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px #db3737, 0 0 0 3px rgba(219, 55, 55, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #db3737;
  box-shadow: inset 0 0 0 1px #db3737;
}

.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger:disabled,
.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger {
  -webkit-box-shadow: 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0),
    0 0 0 0 rgba(219, 55, 55, 0), inset 0 0 0 1px #db3737,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0),
    0 0 0 0 rgba(219, 55, 55, 0), inset 0 0 0 1px #db3737,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger:focus {
  -webkit-box-shadow: 0 0 0 1px #db3737, 0 0 0 1px #db3737,
    0 0 0 3px rgba(219, 55, 55, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 1px #db3737, 0 0 0 1px #db3737,
    0 0 0 3px rgba(219, 55, 55, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #db3737;
  box-shadow: inset 0 0 0 1px #db3737;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger:disabled,
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bp3-timepicker .bp3-timepicker-ampm-select {
  margin-left: 5px;
}

.bp3-timepicker.bp3-disabled .bp3-timepicker-input-row {
  background: rgba(206, 217, 224, 0.5);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(92, 112, 128, 0.6);
  cursor: not-allowed;
  resize: none;
}

.bp3-timepicker.bp3-disabled .bp3-timepicker-input,
.bp3-timepicker.bp3-disabled .bp3-timepicker-divider-text {
  color: rgba(92, 112, 128, 0.6);
  cursor: not-allowed;
}

.bp3-timepicker.bp3-disabled .bp3-timepicker-arrow-button,
.bp3-timepicker.bp3-disabled .bp3-timepicker-arrow-button:hover {
  color: rgba(92, 112, 128, 0.6);
  cursor: not-allowed;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input-row {
  background: rgba(16, 22, 26, 0.3);
  -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-divider-text {
  color: #a7b6c2;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input {
  color: #f5f8fa;
}

.bp3-datepicker .bp3-timepicker {
  margin-bottom: 10px;
  margin-top: 5px;
}

.bp3-datepicker .bp3-timepicker:last-child {
  margin-bottom: 5px;
}

.bp3-datetimepicker {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}

.bp3-dark .bp3-datetimepicker {
  background: #30404d;
}

.bp3-dark .bp3-datetimepicker .bp3-datepicker {
  border-bottom: 1px solid rgba(16, 22, 26, 0.4);
}

.bp3-datetimepicker .bp3-datepicker {
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
  padding: 0 0 10px;
}

.bp3-datetimepicker .bp3-timepicker {
  margin-top: 10px;
}

.bp3-dateinput-popover {
  padding: 0;
}

.select-row {
  padding: 6px 0;
}
.select-row__label {
  font-size: 14px;
  color: #182026;
  padding-bottom: 2px;
}

.schedule-popup__select-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 8px;
}

.schedule-popup__label-row {
  font-size: 12px;
  color: #303640;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 12px;
}

.crons-menuitem {
  font-family: SFProText, sans-serif;
  font-size: 12px;
}

.crons-select-popover .bp3-menu {
  max-height: 160px;
  min-width: 90px;
  overflow-x: auto;
}

.schedule-popup {
  width: 400px;
  font-family: SFProText, sans-serif;
}
.schedule-popup__select--inline {
  display: inline-block;
}
.schedule-popup__select--inline .bp3-input {
  font-size: 16px;
}
.schedule-popup__select--minute-select {
  width: 50px;
}
.schedule-popup__switch {
  margin-bottom: 0;
}
.schedule-popup .just-label {
  color: #303640;
  font-size: 14px;
}
.schedule-popup__select-row {
  max-width: 78%;
}

.ui-error {
  padding: 10px;
}

.filter-options-wrap {
  padding: 16px 12px 8px 12px;
  min-width: 148px;
}
.filter-options-wrap__buttons-wrap {
  margin-top: 6px;
}

.filter-options-select {
  width: 100%;
}

.filter-options-radio {
  width: 100%;
}

.bp3-datepicker {
  background: #ffffff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bp3-datepicker .DayPicker {
  display: inline-block;
  min-width: 210px;
  position: relative;
  vertical-align: top;
}
.bp3-datepicker .DayPicker:focus {
  outline: none;
}
.bp3-datepicker .bp3-datepicker-day-wrapper {
  border-radius: 3px;
  padding: 7px;
}
.bp3-datepicker .DayPicker-Month {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-table;
  margin: 0 5px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bp3-datepicker .DayPicker-Month + .bp3-datepicker .DayPicker-Month {
  margin-left: 10px;
}
.bp3-datepicker .DayPicker-Caption {
  display: table-caption;
}
.bp3-datepicker .DayPicker-Weekdays {
  display: table-header-group;
}
.bp3-datepicker .DayPicker-WeekdaysRow {
  display: table-row;
}
.bp3-datepicker .DayPicker-Weekday {
  display: table-cell;
  height: 30px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  font-weight: 600;
  padding-top: 5px;
}
.bp3-datepicker .DayPicker-Weekday abbr[title] {
  text-decoration: none;
}
.bp3-datepicker .DayPicker-Body {
  display: table-row-group;
}
.bp3-datepicker .DayPicker-Week {
  display: table-row;
}
.bp3-datepicker .DayPicker-WeekNumber {
  display: table-cell;
  height: 30px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  color: rgba(92, 112, 128, 0.6);
  font-size: 14px;
}
.bp3-datepicker .DayPicker-Day {
  display: table-cell;
  height: 30px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  border-radius: 3px;
  cursor: pointer;
}
.bp3-datepicker .DayPicker-Day.DayPicker-Day--outside {
  color: rgba(92, 112, 128, 0.6);
}
.bp3-datepicker
  .DayPicker-Day.DayPicker-Day--isToday
  .bp3-datepicker-day-wrapper {
  border: 1px solid rgba(16, 22, 26, 0.15);
}
.bp3-datepicker .DayPicker-Day:hover,
.bp3-datepicker .DayPicker-Day:focus {
  background: #d8e1e8;
  color: #182026;
}
.bp3-datepicker .DayPicker-Day:active {
  background: #ced9e0;
}
.bp3-datepicker .DayPicker-Day.DayPicker-Day--selected {
  background-color: #137cbd;
  border-radius: 3px;
  color: #ffffff;
}
.bp3-datepicker .DayPicker-Day.DayPicker-Day--selected:hover {
  background-color: #106ba3;
}
.bp3-datepicker .DayPicker-Day.DayPicker-Day--disabled {
  background: none;
  color: rgba(92, 112, 128, 0.6);
  cursor: not-allowed;
}

.bp3-datepicker-navbar {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bp3-datepicker-navbar > .DayPicker-NavButton--prev {
  margin-right: auto;
}
.bp3-datepicker-navbar > .DayPicker-NavButton--next {
  margin-left: auto;
}

.bp3-datepicker-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 25px 5px;
}
.bp3-datepicker-caption > * {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.bp3-datepicker-caption > :first-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}
.bp3-datepicker-caption select {
  font-weight: 600;
  padding-left: 5px;
  padding-right: 16px;
}
.bp3-datepicker-caption select + .bp3-icon {
  right: 2px;
}
.bp3-datepicker-caption + .bp3-divider {
  margin: 0;
}

.bp3-datepicker-month-select {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.bp3-datepicker-year-select {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 60px;
}

.bp3-datepicker-caption-measure {
  font-weight: 600;
  padding-left: 5px;
}

.bp3-datepicker-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bp3-dark .bp3-datepicker {
  background: #30404d;
}
.bp3-dark .bp3-datepicker .DayPicker-WeekNumber {
  color: rgba(167, 182, 194, 0.6);
}
.bp3-dark .bp3-datepicker .DayPicker-Day.DayPicker-Day--outside {
  color: rgba(167, 182, 194, 0.6);
}
.bp3-dark
  .bp3-datepicker
  .DayPicker-Day.DayPicker-Day--isToday
  .bp3-datepicker-day-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.bp3-dark .bp3-datepicker .DayPicker-Day:hover,
.bp3-dark .bp3-datepicker .DayPicker-Day:focus {
  background: #5c7080;
  color: #ffffff;
}
.bp3-dark .bp3-datepicker .DayPicker-Day:active {
  background: #738694;
}
.bp3-dark .bp3-datepicker .DayPicker-Day.DayPicker-Day--selected {
  background-color: #137cbd;
}
.bp3-dark .bp3-datepicker .DayPicker-Day.DayPicker-Day--selected:hover {
  background-color: #2b95d6;
}
.bp3-dark .bp3-datepicker .DayPicker-Day.DayPicker-Day--disabled {
  background: none;
  color: rgba(167, 182, 194, 0.6);
}
.bp3-dark .bp3-datepicker .bp3-datepicker-footer {
  border-top-color: rgba(16, 22, 26, 0.4);
}

.bp3-datepicker-timepicker-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.bp3-daterangepicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
.bp3-daterangepicker .DayPicker-NavButton--interactionDisabled {
  display: none;
}
.bp3-daterangepicker .bp3-daterangepicker-timepickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.bp3-daterangepicker.bp3-daterangepicker-contiguous .DayPicker {
  min-width: 220px;
}
.bp3-daterangepicker.bp3-daterangepicker-single-month .DayPicker {
  min-width: 210px;
}
.bp3-daterangepicker .DayPicker-Day {
}
.bp3-daterangepicker .DayPicker-Day--outside {
  visibility: hidden;
}
.bp3-daterangepicker .DayPicker-Day--hovered-range {
  border-radius: 0;
}
.bp3-daterangepicker
  .DayPicker-Day--hovered-range:not(.DayPicker-Day--selected):not(.DayPicker-Day--selected-range):not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--selected-range-end) {
  background-color: #ebf1f5;
}
.bp3-daterangepicker .DayPicker-Day--selected-range {
  background-color: #ebf1f5;
  border-radius: 0;
}
.bp3-daterangepicker .DayPicker-Day--selected-range:hover {
  background-color: #ced9e0;
}
.bp3-daterangepicker
  .DayPicker-Day--selected-range-start:not(.DayPicker-Day--selected-range-end):not(.DayPicker-Day--hovered-range-end) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.bp3-daterangepicker
  .DayPicker-Day--selected-range-end:not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--hovered-range-start) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.bp3-daterangepicker
  .DayPicker-Day--hovered-range-start:not(.DayPicker-Day--hovered-range-end) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.bp3-daterangepicker
  .DayPicker-Day--hovered-range-end:not(.DayPicker-Day--hovered-range-start) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.bp3-dark .bp3-daterangepicker .DayPicker-Day--hovered-range {
}
.bp3-dark
  .bp3-daterangepicker
  .DayPicker-Day--hovered-range:not(.DayPicker-Day--selected):not(.DayPicker-Day--selected-range):not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--selected-range-end) {
  background-color: #394b59;
}
.bp3-dark .bp3-daterangepicker .DayPicker-Day--selected-range {
  background-color: #394b59;
}
.bp3-dark .bp3-daterangepicker .DayPicker-Day--selected-range:hover {
  background-color: #5c7080;
}

.bp3-menu.bp3-daterangepicker-shortcuts {
  min-width: 120px;
  padding: 0;
}
.bp3-timepicker {
  white-space: nowrap;
}
.bp3-timepicker .bp3-timepicker-arrow-row {
  padding: 0 1px;
}
.bp3-timepicker .bp3-timepicker-arrow-button {
  color: #5c7080;
  display: inline-block;
  padding: 4px 0;
  text-align: center;
  width: 33px;
}
.bp3-timepicker .bp3-timepicker-arrow-button:hover {
  color: #182026;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-arrow-button {
  color: #a7b6c2;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-arrow-button:hover {
  color: #f5f8fa;
}
.bp3-timepicker .bp3-timepicker-arrow-button + .bp3-timepicker-arrow-button {
  margin-left: 11px;
}
.bp3-timepicker .bp3-timepicker-arrow-button:hover {
  cursor: pointer;
}
.bp3-timepicker .bp3-timepicker-input-row {
  background: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  display: inline-block;
  height: 30px;
  line-height: 28px;
  padding: 0 1px;
  vertical-align: middle;
}
.bp3-timepicker .bp3-timepicker-divider-text {
  color: #5c7080;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  width: 11px;
}
.bp3-timepicker .bp3-timepicker-input {
  background: transparent;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0);
  color: #182026;
  height: 28px;
  outline: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9),
    -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  width: 33px;
}
.bp3-timepicker .bp3-timepicker-input:focus {
  -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3);
  box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3);
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary {
  -webkit-box-shadow: 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px #137cbd,
    inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
    inset 0 0 0 1px #137cbd, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary:focus {
  -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #137cbd;
  box-shadow: inset 0 0 0 1px #137cbd;
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary:disabled,
.bp3-timepicker .bp3-timepicker-input.bp3-intent-primary.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-primary {
  -webkit-box-shadow: 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
    inset 0 0 0 1px #137cbd, inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0),
    0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px #137cbd,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-primary:focus {
  -webkit-box-shadow: 0 0 0 1px #137cbd, 0 0 0 1px #137cbd,
    0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 1px #137cbd, 0 0 0 1px #137cbd,
    0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-primary[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #137cbd;
  box-shadow: inset 0 0 0 1px #137cbd;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-primary:disabled,
.bp3-dark
  .bp3-timepicker
  .bp3-timepicker-input.bp3-intent-primary.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-success {
  -webkit-box-shadow: 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0),
    inset 0 0 0 1px #0f9960, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0),
    inset 0 0 0 1px #0f9960, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-success:focus {
  -webkit-box-shadow: 0 0 0 1px #0f9960, 0 0 0 3px rgba(15, 153, 96, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px #0f9960, 0 0 0 3px rgba(15, 153, 96, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-success[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #0f9960;
  box-shadow: inset 0 0 0 1px #0f9960;
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-success:disabled,
.bp3-timepicker .bp3-timepicker-input.bp3-intent-success.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-success {
  -webkit-box-shadow: 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0),
    0 0 0 0 rgba(15, 153, 96, 0), inset 0 0 0 1px #0f9960,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0),
    0 0 0 0 rgba(15, 153, 96, 0), inset 0 0 0 1px #0f9960,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-success:focus {
  -webkit-box-shadow: 0 0 0 1px #0f9960, 0 0 0 1px #0f9960,
    0 0 0 3px rgba(15, 153, 96, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 1px #0f9960, 0 0 0 1px #0f9960,
    0 0 0 3px rgba(15, 153, 96, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-success[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #0f9960;
  box-shadow: inset 0 0 0 1px #0f9960;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-success:disabled,
.bp3-dark
  .bp3-timepicker
  .bp3-timepicker-input.bp3-intent-success.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning {
  -webkit-box-shadow: 0 0 0 0 rgba(217, 130, 43, 0),
    0 0 0 0 rgba(217, 130, 43, 0), inset 0 0 0 1px #d9822b,
    inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0),
    inset 0 0 0 1px #d9822b, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning:focus {
  -webkit-box-shadow: 0 0 0 1px #d9822b, 0 0 0 3px rgba(217, 130, 43, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px #d9822b, 0 0 0 3px rgba(217, 130, 43, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #d9822b;
  box-shadow: inset 0 0 0 1px #d9822b;
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning:disabled,
.bp3-timepicker .bp3-timepicker-input.bp3-intent-warning.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-warning {
  -webkit-box-shadow: 0 0 0 0 rgba(217, 130, 43, 0),
    0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0),
    inset 0 0 0 1px #d9822b, inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0),
    0 0 0 0 rgba(217, 130, 43, 0), inset 0 0 0 1px #d9822b,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-warning:focus {
  -webkit-box-shadow: 0 0 0 1px #d9822b, 0 0 0 1px #d9822b,
    0 0 0 3px rgba(217, 130, 43, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 1px #d9822b, 0 0 0 1px #d9822b,
    0 0 0 3px rgba(217, 130, 43, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-warning[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #d9822b;
  box-shadow: inset 0 0 0 1px #d9822b;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-warning:disabled,
.bp3-dark
  .bp3-timepicker
  .bp3-timepicker-input.bp3-intent-warning.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger {
  -webkit-box-shadow: 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0),
    inset 0 0 0 1px #db3737, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0),
    inset 0 0 0 1px #db3737, inset 0 0 0 1px rgba(16, 22, 26, 0.15),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger:focus {
  -webkit-box-shadow: 0 0 0 1px #db3737, 0 0 0 3px rgba(219, 55, 55, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px #db3737, 0 0 0 3px rgba(219, 55, 55, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2);
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #db3737;
  box-shadow: inset 0 0 0 1px #db3737;
}
.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger:disabled,
.bp3-timepicker .bp3-timepicker-input.bp3-intent-danger.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger {
  -webkit-box-shadow: 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0),
    0 0 0 0 rgba(219, 55, 55, 0), inset 0 0 0 1px #db3737,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0),
    0 0 0 0 rgba(219, 55, 55, 0), inset 0 0 0 1px #db3737,
    inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger:focus {
  -webkit-box-shadow: 0 0 0 1px #db3737, 0 0 0 1px #db3737,
    0 0 0 3px rgba(219, 55, 55, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: 0 0 0 1px #db3737, 0 0 0 1px #db3737,
    0 0 0 3px rgba(219, 55, 55, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px #db3737;
  box-shadow: inset 0 0 0 1px #db3737;
}
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger:disabled,
.bp3-dark .bp3-timepicker .bp3-timepicker-input.bp3-intent-danger.bp3-disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bp3-timepicker .bp3-timepicker-ampm-select {
  margin-left: 5px;
}
.bp3-timepicker.bp3-disabled .bp3-timepicker-input-row {
  background: rgba(206, 217, 224, 0.5);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(92, 112, 128, 0.6);
  cursor: not-allowed;
  resize: none;
}
.bp3-timepicker.bp3-disabled .bp3-timepicker-input,
.bp3-timepicker.bp3-disabled .bp3-timepicker-divider-text {
  color: rgba(92, 112, 128, 0.6);
  cursor: not-allowed;
}
.bp3-timepicker.bp3-disabled .bp3-timepicker-arrow-button,
.bp3-timepicker.bp3-disabled .bp3-timepicker-arrow-button:hover {
  color: rgba(92, 112, 128, 0.6);
  cursor: not-allowed;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input-row {
  background: rgba(16, 22, 26, 0.3);
  -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.4);
}

.bp3-dark .bp3-timepicker .bp3-timepicker-divider-text {
  color: #a7b6c2;
}

.bp3-dark .bp3-timepicker .bp3-timepicker-input {
  color: #f5f8fa;
}

.bp3-datepicker .bp3-timepicker {
  margin-bottom: 10px;
  margin-top: 5px;
}
.bp3-datepicker .bp3-timepicker:last-child {
  margin-bottom: 5px;
}
.bp3-datetimepicker {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}
.bp3-dark .bp3-datetimepicker {
  background: #30404d;
}
.bp3-dark .bp3-datetimepicker .bp3-datepicker {
  border-bottom: 1px solid rgba(16, 22, 26, 0.4);
}
.bp3-datetimepicker .bp3-datepicker {
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
  padding: 0 0 10px;
}
.bp3-datetimepicker .bp3-timepicker {
  margin-top: 10px;
}

.bp3-dateinput-popover {
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Copyright 2017 Palantir Technologies, Inc. All rights reserved.
 */
body {
  font-family: SFProText, sans-serif;
}

.task-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: auto;
}

.color-primary {
  color: #0e5a8a;
}

.color-success {
  color: #0a6640;
}

.color-warning {
  color: #a66321;
}

.color-danger {
  color: #a82a2a;
}

.color-none {
  color: #182026;
}
