<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="c:\logs\internal-log.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn">
  <variable name="logDirectory" value="c:\logs\ImpactService.API"/>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>  
  <!-- define various log targets -->
  <targets>
    <!--Корневая директория для записи логов-->
    <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="0" overflowAction="Block" />
    <!-- описываем приемник для информационных сообщений -->
    <!-- xsi:type: запись в файл -->
    <!-- fileName: имя файла info.log в каталог Logs (автосоздание) в каталоге сборок приложения -->
    <!-- layout: шаблон сообщения - текст сообщения + перенос строки -->
    <!-- archiveFileName: включено архивирование -->
    <!-- archiveAboveSize: размер файл подлежащего архивированию, в байтах -->
    <!-- archiveNumbering: включена последовательная нумерация архивных файлов -->
    <!-- concurrentWrites: включен режим совместной записи в файл -->
    <!-- keepFileOpen: не держать файл открытым -->
    <target
      name="fileinfo"
      xsi:type="File"
      fileName="${logDirectory}/info.log"
      layout="${newline}${longdate}:>>  ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true} 
      ${newline}${uppercase:${level}} Request Id: ${aspnet-traceidentifier} 
      ${newline}MESSAGE: ${message}"
      archiveFileName="${logDirectory}/info{#####}.log"
      archiveAboveSize="1024000"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="UTF-8"/>

    <!-- описываем приемник для ошибок -->
    <!-- xsi:type: запись в файл -->
    <!-- fileName: имя файла err.log в каталог Logs (автосоздание) в каталоге сборок приложения -->
    <!-- layout: шаблон сообщения - текст сообщения + перенос строки -->
    <!-- archiveFileName: включено архивирование -->
    <!-- archiveAboveSize: размер файл подлежащего архивированию, в байтах -->
    <!-- archiveNumbering: включена последовательная нумерация архивных файлов -->
    <!-- concurrentWrites: включен режим совместной записи в файл -->
    <!-- keepFileOpen: не держать файл открытым -->
    <target
      name="fileexception"
      xsi:type="File"
      fileName="${logDirectory}/error.log"
      layout="${newline}${longdate}:>> ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true} 
      ${newline}${uppercase:${level}} Request Id: ${aspnet-traceidentifier} 
      ${newline}MESSAGE: ${newline}${message} 
      ${newline}${exception:format=Message,Type,Method,ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString}
      ${newline}Address: ${event-properties:address}, Index: ${event-properties:index}, Extra: ${event-properties:extra}"
      archiveFileName="${logDirectory}/error{#####}.log"
      archiveAboveSize="1024000"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="UTF-8"/>
    <target xsi:type="Null" name="blackhole" />
    <target name="console"
      xsi:type="Console" 
      encoding="UTF-8">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="request_id" layout="${aspnet-traceidentifier}"/>
        <attribute name="url" layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=Message,Type,Method,ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString}" />
        <attribute name="emitter" encode='false'>
          <layout xsi:type="JsonLayout">
            <attribute name="appname" layout="${environment:SERVICE_NAME}" />
            <attribute name="version" layout="${environment:SERVICE_VERSION}" />
          </layout>
        </attribute>
      </layout>
    </target>
  </targets>
  <!-- правила журналирования -->
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!-- ошибки записываем в fileexception -->
    <logger name="*" levels="Warn,Error,Fatal" writeTo="console" />
    <!-- информационные сообщения записываем в fileinfo -->
    <logger name="*" levels="Info" writeTo="console" />
    <!--В продукционной эксплуатации уровнь Trace должен быть выключен-->
    <logger name="*" levels="Debug,Trace" writeTo="console" />
  </rules>
</nlog>
