<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="c:\logs\internal-log.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn">
  <variable name="logDirectory" value="c:\logs\ImpactService.API"/>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>  
  <targets>
    <target name="fileinfo" xsi:type="File" encoding="UTF-8"
            fileName="${logDirectory}/info.log"
            layout="${newline}${longdate}:>>  ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true} 
            ${newline}${uppercase:${level}} Request Id: ${aspnet-traceidentifier} 
            ${newline}MESSAGE: ${message}"
            archiveFileName="${logDirectory}/info{#####}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target name="fileexception" xsi:type="File" encoding="UTF-8"
            fileName="${logDirectory}/error.log"
            layout="${newline}${longdate}:>> ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true} 
            ${newline}${uppercase:${level}} Request Id: ${aspnet-traceidentifier} 
            ${newline}MESSAGE: ${newline}${message} 
            ${newline}${exception:format=Message,Type,Method,ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString}
            ${newline}Address: ${event-properties:address}, Index: ${event-properties:index}, Extra: ${event-properties:extra}"
            archiveFileName="${logDirectory}/error{#####}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target name="fileStructured" xsi:type="File" encoding="UTF-8"
            fileName="${logDirectory}/current-${shortdate}.log"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="request_id" layout="${aspnet-traceidentifier}" />
        <attribute name="url"
                   layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=@}"
                   encode="false" />
        <attribute name="eventProperties" encode="false">
          <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="3"/>
        </attribute>        
      </layout>
    </target>

    <target name="console" xsi:type="Console" encoding="UTF-8">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="request_id" layout="${aspnet-traceidentifier}" />
        <attribute name="url"
                   layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=@}"
                   encode="false" />
        <attribute name="eventProperties" encode="false">
          <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="3"/>
        </attribute>
        <attribute name="emitter" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="appname" layout="${environment:SERVICE_NAME}" />
            <attribute name="version" layout="${environment:SERVICE_VERSION}" />
          </layout>
        </attribute>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="QA.ProductCatalog.ImpactService.*" levels="Trace" writeTo="console" final="true">
      <filters defaultAction="Ignore">
        <when condition="equals('${environment:TRACE_ELASTIC_CALLS}','1')" action="Log"/>
      </filters>
    </logger>    
    <logger name="*" levels="Warn,Error,Fatal" writeTo="console" />
    <logger name="*" levels="Info" writeTo="console" />
  </rules>
</nlog>
