<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="qp_database" connectionString="Application Name=DPC_UnitTest;Initial Catalog=beeline_catalog;Data Source=MSCSQL01;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
